[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
pytest = "*"
pytest-cov = "*"
tox = "*"
flake8 = "*"
elmo = {editable = true,path = "."}
pytest-mock = "*"
codecov = "*"
responses = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"
